.wrapper {
	background: var(--foreground);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	padding: 0 5px;
	max-width: 1116px;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.description {
	display: flex;
	gap: 36px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
	cursor: pointer;
}

.humburger {
	display: none;
}

.location {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--grey-day-400);
	font-size: 14px;
}

@media (max-width: 950px) {
	.menu {
		padding: 0 16px;
		height: 45px;
	}

	.menu a svg {
		width: 48px;
		height: 18px;
	}

	.description {
		gap: 25px;
	}

	.humburger {
		display: block;
	}

	.navbar,
	.location {
		display: none;
	}

	.isOpen {
		display: flex;
	}

	.location {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px;
		width: 100%;
		height: 56px;
		justify-content: left;
		gap: 0;
		background: #f3f5f6;
		font-size: 16px;
	}

	.location svg {
		width: 24px;
		height: 24px;
	}
}
